---
layout: default
title: Farewell Zhihu
include: false
published: true
---

<h4>Ding 的知乎答案</h4>

<p>我已于 2019 年 6 月 11 日退乎，详见<a href="https://zhuanlan.zhihu.com/p/68754071">本文</a>。</p>

<p>我的 Matters 账号：<a href="https://matters.news/@ding">@Ding</a>；豆瓣：<a href="https://www.douban.com/people/shannon403/">@grounding 🌈</a>。</p>

<p>私人公众号：狂野奈奈 Band (ID: THENaiNaiExperience)。</p>

<p>下列所有内容 © Ding. 允许免费的个人非商业使用（下载、阅读、分享、打印等），但转载和/或商业使用必须得到作者的预先许可。请注意，转载到含有点击广告的微信公众号亦构成商业使用。</p>

<p><em>标 * 的内容可能需要科学上网。</em></p>

<p>感谢 <a href="https://github.com/mikukonai">mikukonai</a> 制作<a href="https://github.com/mikukonai/Quit-hu">退乎脚本</a>。</p>

<h5>{{ site.data.zhihu-poliphil.docs_list_title }}</h5>
<ul>
   {% for item in site.data.zhihu-poliphil.docs %}
      <li><a href="{{ item.url }}" alt="{{ item.title }}">{{ item.title }}</a> ({{ item.date }})</li>
   {% endfor %}
</ul>

<h5>{{ site.data.zhihu-femphil.docs_list_title }}</h5>
<ul>
   {% for item in site.data.zhihu-femphil.docs %}
      <li><a href="{{ item.url }}" alt="{{ item.title }}">{{ item.title }}</a> ({{ item.date }})</li>
   {% endfor %}
</ul>

<h5>{{ site.data.zhihu-history.docs_list_title }}</h5>
<ul>
   {% for item in site.data.zhihu-history.docs %}
      <li><a href="{{ item.url }}" alt="{{ item.title }}">{{ item.title }}</a> ({{ item.date }})</li>
   {% endfor %}
</ul>

<h5>{{ site.data.zhihu-metaphysics.docs_list_title }}</h5>
<ul>
   {% for item in site.data.zhihu-metaphysics.docs %}
      <li><a href="{{ item.url }}" alt="{{ item.title }}">{{ item.title }}</a> ({{ item.date }})</li>
   {% endfor %}
</ul>

<h5>{{ site.data.zhihu-pofmind.docs_list_title }}</h5>
<ul>
   {% for item in site.data.zhihu-pofmind.docs %}
      <li><a href="{{ item.url }}" alt="{{ item.title }}">{{ item.title }}</a> ({{ item.date }})</li>
   {% endfor %}
</ul>

<h5>{{ site.data.zhihu-moralphil.docs_list_title }}</h5>
<ul>
   {% for item in site.data.zhihu-moralphil.docs %}
      <li><a href="{{ item.url }}" alt="{{ item.title }}">{{ item.title }}</a> ({{ item.date }})</li>
   {% endfor %}
</ul>

<h5>{{ site.data.zhihu-juris.docs_list_title }}</h5>
<ul>
   {% for item in site.data.zhihu-juris.docs %}
      <li><a href="{{ item.url }}" alt="{{ item.title }}">{{ item.title }}</a> ({{ item.date }})</li>
   {% endfor %}
</ul>

<h5>{{ site.data.zhihu-others.docs_list_title }}</h5>
<ul>
   {% for item in site.data.zhihu-others.docs %}
      <li><a href="{{ item.url }}" alt="{{ item.title }}">{{ item.title }}</a> ({{ item.date }})</li>
   {% endfor %}
</ul>

<h5>{{ site.data.zhihu-magphil.docs_list_title }}</h5>
<ul>
   {% for item in site.data.zhihu-magphil.docs %}
      <li><a href="{{ item.url }}" alt="{{ item.title }}">{{ item.title }}</a> ({{ item.date }})</li>
   {% endfor %}
</ul>
