---
layout: page
title: Farewell Zhihu
permalink: /farewell-zhihu/
include: false
published: true
---

<h1>Ding 的知乎答案</h1>

<p><em>标 * 的内容可能需要科学上网。</em></p>
<p>© Ding. 允许免费的个人非商业使用（下载、阅读、分享、打印等），但转载和/或商业使用必须得到作者的预先许可。请注意，转载到含有点击广告的微信公众号亦构成商业使用。</p>

<h2>{{ site.data.zhihu-poliphil.docs_list_title }}</h2>
<ul>
   {% for item in site.data.zhihu-poliphil.docs %}
      <li><a href="{{ item.url }}" alt="{{ item.title }}">{{ item.title }}</a> ({{ item.date }})</li>
   {% endfor %}
</ul>

<h2>{{ site.data.zhihu-femphil.docs_list_title }}</h2>
<ul>
   {% for item in site.data.zhihu-femphil.docs %}
      <li><a href="{{ item.url }}" alt="{{ item.title }}">{{ item.title }}</a> ({{ item.date }})</li>
   {% endfor %}
</ul>

<h2>{{ site.data.zhihu-history.docs_list_title }}</h2>
<ul>
   {% for item in site.data.zhihu-history.docs %}
      <li><a href="{{ item.url }}" alt="{{ item.title }}">{{ item.title }}</a> ({{ item.date }})</li>
   {% endfor %}
</ul>

<h2>{{ site.data.zhihu-metaphysics.docs_list_title }}</h2>
<ul>
   {% for item in site.data.zhihu-metaphysics.docs %}
      <li><a href="{{ item.url }}" alt="{{ item.title }}">{{ item.title }}</a> ({{ item.date }})</li>
   {% endfor %}
</ul>

<h2>{{ site.data.zhihu-pofmind.docs_list_title }}</h2>
<ul>
   {% for item in site.data.zhihu-pofmind.docs %}
      <li><a href="{{ item.url }}" alt="{{ item.title }}">{{ item.title }}</a> ({{ item.date }})</li>
   {% endfor %}
</ul>

<h2>{{ site.data.zhihu-moralphil.docs_list_title }}</h2>
<ul>
   {% for item in site.data.zhihu-moralphil.docs %}
      <li><a href="{{ item.url }}" alt="{{ item.title }}">{{ item.title }}</a> ({{ item.date }})</li>
   {% endfor %}
</ul>

<h2>{{ site.data.zhihu-juris.docs_list_title }}</h2>
<ul>
   {% for item in site.data.zhihu-juris.docs %}
      <li><a href="{{ item.url }}" alt="{{ item.title }}">{{ item.title }}</a> ({{ item.date }})</li>
   {% endfor %}
</ul>

<h2>{{ site.data.zhihu-others.docs_list_title }}</h2>
<ul>
   {% for item in site.data.zhihu-others.docs %}
      <li><a href="{{ item.url }}" alt="{{ item.title }}">{{ item.title }}</a> ({{ item.date }})</li>
   {% endfor %}
</ul>

<h2>{{ site.data.zhihu-magphil.docs_list_title }}</h2>
<ul>
   {% for item in site.data.zhihu-magphil.docs %}
      <li><a href="{{ item.url }}" alt="{{ item.title }}">{{ item.title }}</a> ({{ item.date }})</li>
   {% endfor %}
</ul>