<head>
  <meta charset='utf-8'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  {% seo %}
  <link rel='stylesheet' href='{{ '/assets/main.css' | relative_url }}'>
  <link href="https://fonts.googleapis.com/css?family=Cousine|Open+Sans|PT+Serif" rel="stylesheet">
  {% feed_meta %}
  {% include google_analytics.html %}
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js"></script>
  <script>
  window.addEventListener("load", function(){
  window.cookieconsent.initialise({
    "palette": {
      "popup": {
        "background": "#efefef",
        "text": "#404040"
      },
      "button": {
        "background": "#bd000b",
        "text": "#ffffff"
      }
    },
    "content": {
      "message": "As is common practice with almost all professional websites, this site uses cookies to collect and analyze information on site performance and usage. By Clicking "OK" or by clicking into any content on this site, you agree to allow cookies to be placed. ",
      "dismiss": "OK",
      "link": "Find out more",
      "href": "https://dingphil.com/legal/cookie-policy"
    }
  })});
  </script>
</head>
