<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="{{ page.description | default: site.description | smartify }}">
<meta name="author" content="{{ site.authors }}">
<link rel="canonical" href="{{ page.url | absolute_url }}" />

<title>
  {%- if page.title -%}
    {{ page.title | smartify }} · {{ site.title | smartify }}
  {%- else -%}
    {{ site.title | smartify }} · {{ site.description | smartify }}
  {%- endif -%}
</title>

<!-- Ding's modified Bootstrap CSS -->
<link href="{{ 'assets/ding.css' | relative_url }}" rel="stylesheet">

{% include favicons.html %}

<script async src='https://www.googletagmanager.com/gtag/js?id=UA-127390411-1'></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-127390411-1');
  </script>
