<div class="container mt-3 mb-3" style="padding-left: 1.5em; padding-right: 1.5em;">
  <nav class="navbar sticky-top navbar-expand-md navbar-light" style="background-color: #ffffff;">
    <a class="navbar-brand mb-0" style="font-weight: 400; color: #272727;" href="https://www.dingphil.com">Ding</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ms-auto">
        {% assign pages_list = site.pages %}
        {% assign group = 'navigation' %}
        {% include pages_list.html %}
      </ul>
    </div>
  </nav>
</div>
