    <div class="container mt-4 mb-2 mb-lg-4" style="padding-left: 1.5em; padding-right: 1.5em;">
        <nav class="navbar sticky-top navbar-expand-md">
            <a class="navbar-brand mb-0" style="font-weight: 400;" href="https://dingherself.com">Ding</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <!---
                       {% assign pages_list = site.pages %}
                       {% assign group = 'navigation' %}
                       {% include pages_list.html %}
                    -->
                    {% if page.url == '/' %}
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% link index.html %}">Home
                            <span class="visually-hidden">(current)</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% link index.html %}">Home</a>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                      <a class="nav-link" href="{% link ding-cv.pdf %}" target="_blank">CV</a>
                    </li>
                    {% if page.url == '/resources/' %}
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% link resources.md %}">Resources
                            <span class="visually-hidden">(current)</span>
                            </a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% link resources.md %}">Resources</a>
                        </li>
                    {% endif %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Links</a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="https://www.femphilaz.com/" target="_blank" rel="noopener">FemPhilAZ</a></li>
                          <li><a class="dropdown-item" href="https://philosophy.arizona.edu/news/congratulations-philosophy-ethics-bowl-team/" target="_blank" rel="noopener noreferrer">UA Ethics Bowl</a></li>     
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Dark Theme</a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#" data-bs-theme-value="dark">On</a></li>
                          <li><a class="dropdown-item" href="#" data-bs-theme-value="light">Off</a></li>
                          <li><a class="dropdown-item" href="#" data-bs-theme-value="auto">Auto</a></li>
                        </ul>
                      </li>
                </ul>
            </div>
        </nav>
    </div>
