html {
  box-sizing: border-box;
  font-size: $default-font-size;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: $white;
  font-family: $sans-serif-fonts;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $serif-fonts;
}

.layout {
  width: 700px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  padding: 50px 0;
}

.main {
  margin: 30px 0 120px;
}

.header__nav {
  display: flex;
  align-items: baseline;
}

.header__nav__item {
  display: inline-block;
  text-decoration: none;
  font-size: 1rem;
  margin-right: 15px;
  font-family: $serif-fonts;
  color: $red;
}

.header__nav__item--title {
  font-size: 1.55rem;
  margin-right: 40px;
  font-weight: medium;
}

.posts {
  list-style: none;
  margin: 0;
  padding: 0;
}

.posts__item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 50px;
  align-items: baseline;
}

.posts__date {
  width: 30%;
  color: $grey;
  font-size: 1rem;
  font-family: $sans-serif-fonts;
}

.posts__title {
  width: 70%;
  font-size: 1rem;
  font-family: $serif-fonts;
}

.posts__link {
  color: $black;
  text-decoration: none;
}

.footer {
  padding: 25px 0;
  font-size: .9rem;
  font-style: italic;
  font-family: $sans-serif-fonts;
  color: $grey;
}

.footer__list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.footer__item {
  margin-right: 10px;
  display: flex;
}

.footer__item a {
  color: $grey;
  text-decoration: none;
}

.footer__item:nth-child(2):before {
  content: '|';
  margin-right: 10px;
}

.icon {
  height: .9rem;
  width: .9rem;
  fill: $grey;
}

#disqus_thread {
  margin-top: 60px;
}

.pagination a, .pagination span {
    color: $black;
    padding: 7px 18px;
    border: 0px solid #eee;
    margin-left: -2px;
    margin-right: -2px;
    background-color: #ffffff;
    display: inline-block;
  }

.pagination a {
    &:hover {
        background-color: #f1f1f1;
        color: $red;
        text-decoration-color: $red;
    }
 }

.pagination {
    text-align: center;
 }
