$green: #1b813e;
$green-dark: darken($green, 5);
$green-darker: darken($green, 10);

$purple: #8F50AA;
$purple-dark: darken($purple, 10);
$purple-darker: darken($purple, 20);

$myred: #d6000d;

// $red: $myred;
// $red: #cb1b45;
$red: darken($myred, 5);
$red-dark: darken($red, 10);

$black: #1a1a1a;
$black-light: lighten($black, 0);
$black-lighter: lighten($black, 2);
$black-lightest: lighten($black, 12);
//$black-light: lighten($black, 10);
//$black-lighter: lighten($black, 20);
//$black-lightest: lighten($black, 30);

$mygrey: #9a9a90;

$grey: $mygrey;
// $grey: lighten($black, 35);
$grey-light: lighten($black, 75);
$grey-lightest: lighten($black, 85);


$white: #fff;
// fonts

$zh-fonts: 'PingFang SC', 'Source Han Sans SC', 'Hiragino Sans GB', 'Droid Sans Fallback', 'Microsoft YaHei', 'Wenquanyi Micro Hei';

$sans-serif-fonts: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Droid Sans', 'Helvetica Neue', #{$zh-fonts}, sans-serif;
$serif-fonts: 'Libertinus Serif', 'PT Astra Serif', 'Libertinus Math', Tinos, 'STIX Two Math', 'Noto Serif', Symbola, 'Noto Serif CJK TC', serif;
$monospaced-fonts: 'Cousine', 'Menlo', 'Monaco', 'Consolas', "Courier New", monospace;

$default-font-size: 18px;
