---
---

$font-family-sans-serif:
'Lora',
// Safari for OS X and iOS (San Francisco)
//-apple-system,
// Chrome < 56 for OS X (San Francisco)
//BlinkMacSystemFont,
// Windows
//"Segoe UI",
// Android
//"Roboto",
// Basic web fallback
//"Verdana", "Arial", sans-serif,
"Hoefler Text", "Palatino", "Times New Roman", Times, serif,
// Emoji fonts
"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

$body-color: #333;
$black: #333;
$dingred: #bd000b;
$primary: $dingred;

$navbar-light-color: rgba($black, .7);
$navbar-light-hover-color: rgba($black, 1.0);
$navbar-light-active-color: rgba($dingred, .8);
$navbar-light-toggler-border-color: rgba($black, .4);

$font-weight-light: 400;
$font-weight-normal: 500;
$font-weight-bold: 600; 
$headings-font-weight: 600;

$font-size-base: 1rem;  // Assumes the browser default, typically 1rem = 16px; we change the browser default later

$lead-font-size: (
  $font-size-base * 1.1
);

$h1-font-size: (
  $font-size-base * 1.15
);

$h2-font-size: (
  $font-size-base * 0.9
);

$h3-font-size: (
  $font-size-base * 1
);

$h4-font-size: (
  $font-size-base * 1
);

$h5-font-size: (
  $font-size-base * 1
);

$h6-font-size: (
  $font-size-base * 1
);

$headings-margin-bottom: 0.875rem;
$headings-line-height: 1.5;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1800px
);

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer * .75,
  4: $spacer,
  5: $spacer * 1.25,
);
$grid-gutter-width: 1.5rem;
$gutters: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 3.5,
  7: $spacer * 3.75,
  8: $spacer * 4,
  9: $spacer * 4.5,
  10: $spacer * 5,
);

/////////////////////////////////////////
// Bootstrap and its default variables //
/////////////////////////////////////////

@import "bootstrap";

//////////////////////////
// Ding's css overrides //
//////////////////////////

.card-body p {
  margin-bottom: 0rem;
  line-height: 1.65;
}

.card-body {
  margin-bottom: 1rem;
}

h1, .h1 {
  margin-top: 0.875rem;
}

h2, .h2 {
  font-weight: 600;
  text-transform: uppercase;
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2 {
  margin-top: 0.625rem;
}

li {
  margin-bottom: 1pt;
  line-height: 1.6;
}

.headerphoto {
  width: 300px;
}

.maincontent {
  max-width: 800px;
}

@include media-breakpoint-up(md) {
  .maincontent {
    max-width: 975px;
  }
}