---
---

// Freight Text Pro fonts from Adobe; font-weights from 400 to 700

@import url("https://use.typekit.net/vnw4sgb.css");

// Ding's variable overrides

$font-family-sans-serif:
baskerville-urw,
// Safari for OS X and iOS (San Francisco)
-apple-system,
// Chrome < 56 for OS X (San Francisco)
BlinkMacSystemFont,
// Windows
"Segoe UI",
// Android
"Roboto",
// Basic web fallback
"Times New Roman", Times, serif,
// Emoji fonts
"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

$body-color: #272727;
$black: #272727;
$dingred: #bd000b;

$theme-colors: (
  "primary": $dingred
);

$navbar-light-color: rgba($black, .7);
$navbar-light-hover-color: rgba($black, 1.0);
$navbar-light-active-color: rgba($dingred, .8);
$navbar-light-toggler-border-color: rgba($black, .4);

$line-height-base: 1.7;

$font-size-base: 1rem;  // Assumes the browser default, typically 1rem = 16px; we change the browser default later

$lead-font-size: (
  $font-size-base * 1.75
);

$h1-font-size: (
  $font-size-base * 1.5
);

$h2-font-size: (
  $font-size-base * 1.2
);

$h3-font-size: (
  $font-size-base * 1
);

$h4-font-size: (
  $font-size-base * 1
);

$h5-font-size: (
  $font-size-base * 1
);

$h6-font-size: (
  $font-size-base * 1
);

//$headings-margin-bottom: 1.75rem;

$font-weight-light: 400;
$font-weight-normal: 500;
$font-weight-bold: 700; 
$headings-font-weight: 700;


/////////////////////////////////////////
// Bootstrap and its default variables //
/////////////////////////////////////////

@import "bootstrap";

//////////////////////////
// Ding's css overrides //
//////////////////////////

html {
  font-size: 16px;
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 18px;
  }
}

@include media-breakpoint-up(xl) {
  html {
    font-size: 20px;
  }
}

h1,
.h1 {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

h2,
.h2 {
  margin-top: 1.25rem;
  margin-bottom: 1rem;
}

h3,
.h3 {
  margin-top: 1.25rem;
  margin-bottom: 1rem;
}

.btn-sm, .btn-group-sm > .btn {
    padding: 0.35rem 0.65rem;
    font-size: 0.95rem;
}

h3, .h3 {
  font-weight: 700;
}

h4, .h4 {
  font-weight: 500;
  font-style: italic;
}

h5, .h5 {
  font-weight: 500;
}

h6, .h6 {
  font-weight: 500;
}
