---
---

// Adobe Font

@import url("https://use.typekit.net/vnw4sgb.css");

// Ding's variable overrides

$font-family-sans-serif:
athelas,
// Safari for OS X and iOS (San Francisco)
//-apple-system,
// Chrome < 56 for OS X (San Francisco)
//BlinkMacSystemFont,
// Windows
//"Segoe UI",
// Android
//"Roboto",
// Basic web fallback
"Palatino", "Times New Roman", Times, serif,
// Emoji fonts
"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;

$body-color: #333;
$black: #333;
$dingred: #bd000b;
$primary: $dingred;

$navbar-light-color: rgba($black, .7);
$navbar-light-hover-color: rgba($black, 1.0);
$navbar-light-active-color: rgba($dingred, .8);
$navbar-light-toggler-border-color: rgba($black, .4);

$line-height-base: 1.55;

$font-size-base: 1rem;  // Assumes the browser default, typically 1rem = 16px; we change the browser default later

$lead-font-size: (
  $font-size-base * 1.75
);

$h1-font-size: (
  $font-size-base * 1.5
);

$h2-font-size: (
  $font-size-base * 1.175
);

$h3-font-size: (
  $font-size-base * 1
);

$h4-font-size: (
  $font-size-base * 1
);

$h5-font-size: (
  $font-size-base * 1
);

$h6-font-size: (
  $font-size-base * 1
);

//$headings-margin-bottom: 1.75rem;

$font-weight-light: 400;
$font-weight-normal: 500;
$font-weight-bold: 700; 
$headings-font-weight: 700;
$headings-line-height: 1.3;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1800px
);

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1580px
);

$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
);
$grid-gutter-width: 1.5rem;
$gutters: (
  0: 0,
  1: $spacer * .25,
  2: $spacer * .5,
  3: $spacer,
  4: $spacer * 1.5,
  5: $spacer * 3,
  6: $spacer * 3.5,
  7: $spacer * 3.75,
  8: $spacer * 4,
  9: $spacer * 4.5,
  10: $spacer * 5,
);

/////////////////////////////////////////
// Bootstrap and its default variables //
/////////////////////////////////////////

@import "bootstrap";

//////////////////////////
// Ding's css overrides //
//////////////////////////

html {
  font-size: 1.15rem;
  font-variant-ligatures: common-ligatures;
  font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: no-historical-ligatures;
  font-variant-ligatures: contextual;
  font-variant-numeric: oldstyle-nums;
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.27rem;
  }
}

@include media-breakpoint-up(xl) {
  html {
    font-size: 1.3rem;
  }
}

@include media-breakpoint-up(xxl) {
  html {
    font-size: 1.4rem;
  }
}

h1,
.h1 {
  margin-top: 1em;
  margin-bottom: 1em;
}

h2,
.h2 {
  margin-top: 1.75em;
  margin-bottom: 0.75em;
}

h3,
.h3 {
  margin-top: 1.75em;
  margin-bottom: 0.75em;
}

h4,
.h4 {
  margin-top: 0.5em;
  margin-bottom: 0.75em;
}

.btn-sm, .btn-group-sm > .btn {
    padding: 0.35em 0.65em;
    font-size: 0.95rem;
}

h3, .h3 {
  font-weight: 700;
}

h4, .h4 {
  font-weight: 500;
  font-style: italic;
}

h5, .h5 {
  font-weight: 500;
}

h6, .h6 {
  font-weight: 500;
}

.gx-6 {
  --bs-gutter-x: 4.5rem !important;
  --bs-gutter-y: 4.5rem !important;
}

.maincontent {
  max-width: 610px;
}

.headerphoto {
 width: 425px;
}

@include media-breakpoint-up(md) {
  .maincontent {
    max-width: 660px;
  }

  .headerphoto {
    width: 435px;
  }
}

@include media-breakpoint-up(xxl) {
  .maincontent {
    max-width: 720px;
  }
}

