<!doctype html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body>

    {% include navbar.html %}

    <main id="content" role="main" class="container">
      <div class="container px-3">
        <div class="row justify-content-center align-items-center gx-5">
          {%- if page.headerpicurl -%}
          <div class="col-11 col-md-6 col-xxl-5 mt-2 mt-lg-0">
            <p style="text-align:center;"><a href="{{ page.headerpicurl | prepend: site.baseurl }}"><img class="img-fluid mt-2 float-left mw-100 headerphoto" src="{{ page.headerpicurl | prepend: site.baseurl }}" alt="{{ page.headerpicalt }}"></a></p>
            {%- if page.headerpictext -%}
              <p style="color: #777; margin-top: -0.5rem;"><small>{{ page.headerpictext }}</small></p>
            {%- endif -%}
          </div>
          <div class="col-12 col-md-6 col-xxl-6">
        {%- else -%}
          <div class="col-12 col-lg-8 col-xxl-12 maincontent">
        {%- endif -%}
          {{ content }}
          </div>
        </div>
      </div>
    </main>

    <footer class="container" style="padding-bottom: 3rem;">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-8 col-xxl-12 maincontent">
          <!--{% include footer.html %}-->
        </div>
      </div>
    </footer>
    {% include scripts.html %}
  </body>
</html>
