<!doctype html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body>

    {% include navbar.html %}

    <main id="content" role="main" class="container">
      <div class="container px-4">
        <div class="row justify-content-center align-items-center gx-5">
          {%- if page.headerpicurl -%}
          <div class="col-12 col-md-7 col-lg-6 col-xxl-5">
          <p><a href="{{ page.headerpicurl | prepend: site.baseurl }}"><img class="img-fluid mt-2 float-left" src="{{ page.headerpicurl | prepend: site.baseurl }}" alt="{{ page.headerpicalt }}"></a></p>
            {%- if page.headerpictext -%}
              <p style="color: #777; margin-top: -0.5rem;"><small>{{ page.headerpictext }}</small></p>
            {%- endif -%}
          </div>
          <div class="col-12 col-lg-6 col-xxl-7">
        {%- else -%}
          <div class="col-12 col-md-11 col-xxl-10">
        {%- endif -%}
          {{ content }}
          </div>
        </div>
      </div>
    </main>

    <footer class="container" style="padding-bottom: 3rem;">
      <div class="row justify-content-center">
        <div class="col-12 col-md-11 col-xxl-10">
          <!--{% include footer.html %}-->
        </div>
      </div>
    </footer>
    {% include scripts.html %}
  </body>
</html>
