<!doctype html>
<html lang="en" data-bs-theme="dark">
  <head>
    {% include head.html %}
    {% include css.html %}
    {% include favicons.html %}
    {% include GA.html %}
  </head>
  <body>

    {% include navbar.html %}

    <main id="content" role="main" class="container maincontent"  style="padding-bottom: 3rem;">
      <div class="container px-4">
        <div class="row justify-content-center no-gutters gx-0" style="margin-top: 0.875em">
          <div class="col-6 col-md-5 col-lg-4 col-xxl-3">
            <p style="text-align:center;">
              <a href="{{ site.baseurl }}/assets/72AD8084-612B-4C42-A582-0EEC7EB14049_1_105_c.jpeg" target="_blank">
                <img src="{{ site.baseurl }}/assets/72AD8084-612B-4C42-A582-0EEC7EB14049_1_105_c.jpeg" alt="A photo of me at a talk: I'm wearing a red top, taking notes, and laughing at a joke." class="img-fluid">
              </a>
            </p>
          </div>
          <div class="col-6 col-md-5 col-lg-4 col-xxl-3">
            <p style="text-align:center;">
              <a href="{{ site.baseurl }}/assets/A2DE5B30-50EF-4A5D-9C0F-B8FCA80A7DFD_1_105_c.jpeg" target="_blank">
                <img src="{{ site.baseurl }}/assets/A2DE5B30-50EF-4A5D-9C0F-B8FCA80A7DFD_1_105_c.jpeg" alt="Me in a black foral dress and a black blazer, giving comments." class="img-fluid">
              </a>
            </p>
            <p style="font-size: 0.8rem; text-align: right; margin-top: -0.5em; margin-bottom: -0.5em;"><em>Photo Credit: <a href="https://sites.google.com/view/aprilchan">April Chan</a></em>
            </p>
          </div>
        </div>
    
        <div class="row justify-content-center align-items-start gx-5 mt-2">
          <div class="col-12 col-md-10 col-lg-8">
            {{ content }}
          </div>
        </div>
      </div>
    </main>

    <!--
    <footer class="container maincontent">
      <div class="row justify-content-center" align-items-start gx-5 mt-2">
      <div class="col-12 col-lg-10">
        {% include footer.html %}
      </div>
      </div>
    </footer>
    -->

    {% include scripts.html %}
  </body>
</html>
