<!doctype html>
<html lang="en" data-bs-theme="dark">
  <head>
    {% include head.html %}
    {% include css.html %}
    {% include favicons.html %}
    {% include GA.html %}
  </head>
  <body>
    
    {% include navbar-safe-mode.html %}

    <main id="content" role="main" class="container">
      <div class="container">
        <div class="row justify-content-center align-items-start gx-5 gx-lg-6 gx-xl-10 gx-xxl-0">
          <div class="col-12 col-md-10 col-lg-8 col-xxl-10 maincontent px-4 px-xxl-0">
            <p style="padding-top: 2pt;">I’m currently dealing with targeted harassment and intimidation by a <a href="https://www.erininthemorning.com/p/tpusas-charlie-kirk-trans-people">far-right campus organization</a> on the basis of my gender and race, and I have decided to take my website temporarily offline as a precaution.</p>
            <p>If you are in my class, you can find my office and email in the course syllabus.</p>
            <p>I’m really sorry about all this.</p>
          </div>
        </div>
      </div>
    </main>

    <footer class="container" style="padding-bottom: 3rem;">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-8 col-xxl-12 maincontent">
          <!--{% include footer.html %}-->
        </div>
      </div>
    </footer>
    {% include scripts.html %}
  </body>
</html>
