<!doctype html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body>

    {% include navbar.html %}

    <main id="content" role="main" class="container">
      <div class="container">
        <div class="row justify-content-center">
          {{ content }}
        </div>
      </div>
    </main>

    <footer class="container" style="padding-bottom: 3rem;">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-11">
          <!--{% include footer.html %}-->
        </div>
      </div>
    </footer>
    {% include scripts.html %}
  </body>
</html>
